<div class="row product-grid-3">
    <% if(Array.isArray(products)){ %>
                            <% products.forEach(product=>{ %>
                            <div class="col-lg-4 col-md-4 col-12 col-sm-6 product-card">
                                <div class="product-cart-wrap mb-30">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            
                                            <a href="/shop/product/<%= product._id %>">
                                                <img class="default-img" src="<%= product.images[0]&&product.images?product.images[0]:'images/defaultImage.jpg' %>" alt="<%= product.name %>">
                                                <img class="hover-img" src="<%=product.images?product.images.length<2?product.images[0]:product.images[1]:'images/defaultImage.jpg' %>" src alt="<%= product.name %>">
                                            </a>
                                            
                                            
                                        </div>
                                        <div class="product-action-1">
                                            <!-- <a aria-label="Quick view" class="action-btn hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="fi-rs-search"></i></a> -->
                                            
                                            <!-- <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a> -->
                                        </div>
                                        <!-- <div class="product-badges product-badges-position product-badges-mrg">
                                            <span class="hot">Hot</span>
                                        </div> -->
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href="/shop/products/?category=<%=product.category._id%>"><%=product.category.name %></a>
                                        </div>
                                        <h2><a href="/shop/product/<%= product._id %>"><%=product.brand%> <%= product.name %></a></h2>
                                        
                                        <!-- <div class="rating-result" title="90%">
                                            <span>
                                                <span>90%</span>
                                            </span>
                                        </div> -->
                                        <div class="product-price">
                                            <span>₹<%= product.price %>.00</span>
                                            <span class="old-price">₹<%= (product.price*1.2).toFixed(2) %></span>
                                        </div>
                                        <% if(product.quantity<1||product.quantity===undefined) {%>
                                            <div>
                                                <p class="text-danger">The product is out of stock. Please check after sometime</p>
                                            </div>
                                            <% }else{ %>
                                                <div class="product-action-1 show">
                                             <% if(product.isInCart){ %>       
                                            <a aria-label="Item in Cart" data-product-id="<%= product._id %>" data-item-in-cart="true" class="action-btn hover-up" id="addToCartbtn" href="#" style="background-color: #088178;"><i style="color: azure;" class="fi-rs-shopping-bag"></i></a>
                                            <% }else{ %>
                                                <a aria-label="Add To Cart" data-product-id="<%= product._id %>" data-item-in-cart="false" class="action-btn hover-up" id="addToCartbtn" href="#"><i class="fi-rs-shopping-bag-add"></i></a>
                                                <% }if(product.isWishlisted){ %>
                                                    <a aria-label="Item in Wishlist" data-product-id="<%= product._id %>" data-is-wishlisted="true" class="action-btn hover-up" id="wishlistBtn" href="#"><i class="fa fa-heart"></i></a>
                                                    <% }else{ %>
                                                        <a aria-label="Add to Wishlist" data-product-id="<%= product._id %>" data-is-wishlisted="false" class="action-btn hover-up" id="wishlistBtn" href="#"><i class="fa fa-heart-o"></i></a>
                                                    <% } %>
                                        </div>
                                    <% } %>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                            <div class="pagination-area mt-30 mb-50">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-start" id="pagination-container">
                                      <% if (currentPage > 1) { %>
                                        <li class="page-item">
                                           <a class="page-link" href="#" data-page="<%= currentPage - 1 %>">
                                               <i class="fi-rs-angle-double-small-left"></i>
                                          </a>
                                        </li>
                                     <% } %>

                               <% for (let i = 1; i <= totalPages; i++) { %>
                                    <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                                         <a class="page-link" href="#" data-page="<%= i %>"><%= i %></a>
                                    </li>
                                <% } %>

                               <% if (currentPage < totalPages) { %>
                                  <li class="page-item">
                                        <a class="page-link" href="#" data-page="<%= currentPage + 1 %>">
                                              <i class="fi-rs-angle-double-small-right"></i>
                                        </a>
                                  </li>
                               <% } %>
                                        </ul>
                                    </nav>
                             </div>
                            <% }else{ %>
                                <h1>No products found</h1>
                                <% } %>
                        </div>
                    
                       <script>
                        document.addEventListener('DOMContentLoaded',function(){

                            //add to cart button
                            const cartBtns=document.querySelectorAll('#addToCartbtn')
                            
                            cartBtns.forEach(btn=>{  
                                btn.addEventListener('click',async()=>{
                                           const cartPrdctId=btn.dataset.productId
                                          const itemInCart=btn.dataset.itemInCart=="true"
                                          const icon=btn.querySelector('i')
                                        // console.log("product id: "+cartPrdctId+",item in cart: "+itemInCart);
                                        if(itemInCart){
                                            await fetch(`/shop/cart/delete/${cartPrdctId}`,{
                                                method:'DELETE',
                                                headers:{'Content-Type':'application/json'}
                                            }).then((response)=>response.json()).then((result)=>{
                                                if(result.success){
                                                    Swal.fire({
                                                        icon:'success',
                                                        timer:2000,
                                                        title:'Removed item from Cart',
                                                        showConfirmButton:false
                                                    })
                                                    btn.removeAttribute('style')
                                                    btn.setAttribute('aria-label','Add to Cart')
                                                    btn.setAttribute('data-item-in-cart','false')
                                                    icon.removeAttribute('style')
                                                    icon.classList.remove('fi-rs-shopping-bag')
                                                    icon.classList.add('fi-rs-shopping-bag-add')
                                                }else{
                                                    Swal.fire({
                                                        icon:'error',
                                                        timer:2000,
                                                        title:'Unable to remove from Cart',
                                                        text:result.message,
                                                        showConfirmButton:false
                                                    })
                                                }
                                            }).catch((err)=>{
                                                console.error(err);
                                                Swal.fire("Error","server error",'error')
                                            })
                                        }else{
                                            await fetch(`/shop/cart/add`,{
                                                method:"POST",
                                                headers:{'Content-Type':'application/json'},
                                                body:JSON.stringify({productId:cartPrdctId,quantity:1})
                                            }).then(res=>res.json()).then((result)=>{
                                                if(result.success){
                                                    Swal.fire({
                                                        icon:'success',
                                                        timer:2000,
                                                        title:result.message,
                                                        showConfirmButton:false
                                                    })
                                                    btn.setAttribute('style','background-color:#088178')
                                                    btn.setAttribute('aria-label','Item in Cart')
                                                    btn.setAttribute('data-item-in-cart','true')
                                                    icon.setAttribute('style','color:azure')
                                                    icon.classList.remove('fi-rs-shopping-bag-add')
                                                    icon.classList.add('fi-rs-shopping-bag')
                                                    
                                                }else{
                                                    console.error(result.message);
                                                    Swal.fire({
                                                         icon:'error',
                                                        timer:2000,
                                                        title:'Error',
                                                        text:result.message||'Something wrong.Try again later',
                                                        showConfirmButton:false
                                                    })
                                                }
                                            }).catch((err)=>{
                                                console.error(err);
                                                Swal.fire({
                                                         icon:'error',
                                                        timer:2000,
                                                        title:'Item added to cart',
                                                        text:'Something wrong.Try again later',
                                                        showConfirmButton:false
                                                    })
                                            })
                                        }
                            
                                })
                            })
                            //add to wishlist
                            const wishlistBtns=document.querySelectorAll('#wishlistBtn')
                            wishlistBtns.forEach(btn=>{
                                btn.addEventListener('click',async()=>{
                                    const wishlistPrdctId=btn.dataset.productId
                                    const wishlistIcon=btn.querySelector('i')
                                    const isWishlisted=btn.dataset.isWishlisted=="true"
                                        await fetch(`/shop/wishlist/toggle/${wishlistPrdctId}`,{
                                            method:'POST',
                                            headers:{'Content-Type':'application/json'},
                                        }).then(res=>res.json()).then((result)=>{
                                            if(result.success){
                                                Swal.fire({
                                                        icon:'success',
                                                        timer:2000,
                                                        title:result.message,
                                                        showConfirmButton:false
                                                    })
                                                if(result.removed){
                                                    btn.setAttribute('aria-label','Add to Wishlist')
                                                    btn.setAttribute('data-is-wishlisted','false')
                                                    wishlistIcon.classList.remove('fa-heart')
                                                    wishlistIcon.classList.add('fa-heart-o')
                                                }else{
                                                    btn.setAttribute('aria-label','Item in Wishlist')
                                                    btn.setAttribute('data-is-wishlisted','true')
                                                    wishlistIcon.classList.remove('fa-heart-o')
                                                    wishlistIcon.classList.add('fa-heart')

                                                }
                                            }else{
                                                Swal.fire({
                                                     icon:'error',
                                                        timer:2000,
                                                        title:'Unable to perform Wishlisting',
                                                        text:result.message,
                                                        showConfirmButton:false
                                                })
                                            }
                                        })
                            
                                })
                            })
                            
                        })
                       </script>