<%-include("../partials/user/header") %>

<!-- Load Razorpay Checkout Script -->
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/user" rel="nofollow">Home</a>
                    <span></span> Shop
                    <span></span> Checkout
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <% if(cartItems&&cartItems.length>0) {%>
                <div class="row">
                    
                    <div class="col-lg-6">
                        <div class="toggle_info">
                            <span><i class="fi-rs-label mr-10"></i><span class="text-muted">Have a coupon?</span> <a href="#coupon" data-bs-toggle="collapse" class="collapsed" aria-expanded="false">Click here to enter your code</a></span>
                        </div>
                        <div class="panel-collapse collapse coupon_form " id="coupon">
                            <div class="panel-body">
                                <p class="mb-30 font-sm">If you have a coupon code, please apply it below.</p>
                                <form method="post">
                                    <div class="form-group">
                                        <input type="text" placeholder="Enter Coupon Code...">
                                    </div>
                                    <div class="form-group">
                                        <button class="btn  btn-md" name="login">Apply Coupon</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="divider mt-50 mb-50"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-25">
                            <h4>Billing & Shipping Address</h4>
                        </div>
                        <% if(addresses && addresses.length>0) {%>
                            <div class="radio-btns d-flex justify-content-evenly">
                                <% addresses.forEach((addr,i)=>{ %>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="addressRadio" value="<%=i%>" id="addressRadio<%= i %>" <%= i==0?'checked':"" %>>
                                        <label class="form-check-label" for="addressRadio<%= i %>">Use Address <%=i+1 %></label>
                                    </div>
                                    <% }) %>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="addressRadio" value="new" id="addr-new">
                                        <label class="form-check-label" for="addr-new">Enter new Address</label>
                                    </div>
                                </div>
                                <% }else{%>
                                    <input type="radio" hidden name="addressRadio" value="new" checked>
                                    <h3>Enter an address</h3>
                                    <% } %>
                                    
                                    <form method="post" id="addressForm">
                            <div class="form-group">
                                <input type="text" class="text-white" style="background-color: #088178;" required="" name="name" id="name" placeholder="Name *" readonly>
                                <p style="color: red;" id="nameError"></p>
                            </div>
                            <div class="form-group">
                                <input type="text" class="text-white" style="background-color: #088178;" name="street" required="" id="street" placeholder="Street/Line *" readonly>
                                <p style="color: red;" id="streetError"></p>
                            </div>
                            <div class="form-group">
                                <input required="" class="text-white" style="background-color: #088178;" type="text" name="city" id="city" placeholder="City / Town *" readonly>
                                <p style="color: red;" id="cityError"></p>
                            </div>
                            <div class="form-group">
                                <input required="" class="text-white" style="background-color: #088178;" type="text" name="state" id="state" placeholder="State*" readonly>
                                <p style="color: red;" id="stateError"></p>
                            </div>
                            <div class="form-group">
                                <input required="" class="text-white" style="background-color: #088178;" type="text" name="pinCode" id="pinCode" placeholder="Postcode / PIN *" readonly>
                                <p style="color: red;" id="pinError"></p>
                            </div>
                            <button id="addAddressBtn" class="btn btn-primary" type="submit" hidden form="addressForm">Add Address</button>
                        </form>
                        <br>
                        <h5 class="p-2">You can edit your addresses <a href="/account" style="text-decoration: underline;">Here</a></h5>
                        <div class="form-group">
                            <input class="text-white" style="background-color: #088178;" type="text" name="country" id="country" placeholder="Country" value="India">
                        </div>
                        <div class="form-group">
                            <input class="text-white" style="background-color: #088178;" type="text" name="phone" id="phone" placeholder="Phone" value="<%=user.phone %>">
                        </div>
                        <div class="form-group">
                            <input class="text-white" style="background-color: #088178;" type="text" name="email" id="email" placeholder="Email" value="<%= user.email %>">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="order_review">
                            <div class="mb-20">
                                <h4>Your Orders</h4>
                            </div>
                            <div class="table-responsive order_table text-center">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Product</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% cartItems.forEach(item => {%>
                                            
                                            <tr>
                                                <td class="image product-thumbnail"><img src="<%= item.productId.images[0] %>" alt="#"></td>
                                                <td>
                                                    <h5><a href="/shop/product/<%=item.productId._id%>"><%= item.productId.name %></a></h5> <span class="product-qty">x <%= item.quantity %></span>
                                                    </td>
                                                    <% let subTotal=item.productId.price*item.quantity %>
                                                    <td>₹<%= subTotal %></td>
                                                    </tr>
                                                <%}); %>
                                        
                                        <tr>
                                            <th>SubTotal</th>
                                            <td class="product-subtotal" colspan="2">₹<%= totalPrice %></td>
                                        </tr>
                                        <tr>
                                            <th>Shipping</th>
                                            <td colspan="2"><em>Free Shipping</em></td>
                                        </tr>
                                        <tr>
                                            <th>Total</th>
                                            <td colspan="2" class="product-subtotal"><span class="font-xl text-brand fw-900">₹<%= totalPrice.toFixed(2) %></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                            <div class="payment_method">
                                <div class="mb-25">
                                    <h5>Payment</h5>
                                </div>
                                <div class="payment_option">
                                    <div class="custome-radio">
                                        <input class="form-check-input" required="" type="radio" name="payment_option" value="Online" id="paymentOptionOnline" checked>
                                        <label class="form-check-label" for="paymentOptionOnline" data-bs-toggle="collapse" >Online Payment</label>
                                       
                                    </div>
                                    <div class="custome-radio">
                                        <input class="form-check-input" required="" type="radio" name="payment_option" id="paymentOptionCOD" value="COD">
                                        <label class="form-check-label" for="paymentOptionCOD" data-bs-toggle="collapse" >Cash on Delivery</label>
                                        
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="btn btn-fill-out btn-block mt-30" id="placeOrderButton">Make Payment</a>
                        </div>
                         <!-- Message area for success/error -->
        <div id="payment-message" class="mt-4 text-center"></div>
                    </div>
                </div>
                <% }else{ %>

                    <h3 style="color: #088178;text-align: center;" class="justify-content-center">No available items in cart purchase. Please check the availability of products before checkout</h3>
                    <div class="d-flex justify-content-center p-30">
                        <a class="btn btn-primary me-2" href="/shop/cart">Go to Cart</a>
                        <a class="btn btn-primary" href="/shop/products">Continue Shopping</a>
                    </div>
                    <% } %>
            </div>
        </section>
    </main>
<%-include('../partials/user/footer') %>
<script>
    //selecting the address
    document.addEventListener('DOMContentLoaded',()=>{
       const addresses=<%-JSON.stringify(addresses||[]) %>
       
       
       
       const nameField=document.getElementById('name')
       const streetField=document.getElementById('street')
       const cityField=document.getElementById('city')
       const stateField=document.getElementById('state')
       const pinCode=document.getElementById('pinCode')

       const addAddressBtn=document.getElementById('addAddressBtn')
       
       const fields={
        name:nameField,
        street:streetField,
        city:cityField,
        state:stateField,
        pinCode:pinCode
       }
       //for populating the fields
       function populateForm(address) {
        if(!address)return
        Object.entries(fields).forEach(([key,field])=>{
            field.value=address[key]
            field.classList.add('text-white')
            field.setAttribute('readonly','')
            field.style.backgroundColor='#088178'
        })
       }

       //to clear the previous values from fields
       function clearForm() {
         Object.values(fields).forEach(field=>{
                field.removeAttribute('style')
                field.removeAttribute('readonly')
                field.value=''
                field.className=''
        
    })
       }

       //event listeners on radios
       const radioBtns=document.querySelectorAll('input[name="addressRadio"]')
       radioBtns.forEach(btn=>{
        btn.addEventListener('change',(e)=>{
            const selectedValue=e.target.value
            
            if(selectedValue=='new'){
                clearForm()
                addAddressBtn.removeAttribute('hidden')
            }else{
                const index=parseInt(selectedValue)
                const selectedAddress=addresses[index]
                populateForm(selectedAddress)
                addAddressBtn.setAttribute('hidden',true)
                  document.getElementById('nameError').textContent=''
        document.getElementById('streetError').textContent=''
        document.getElementById('cityError').textContent=''
        document.getElementById('stateError').textContent=''
        document.getElementById('pinError').textContent=''
            }
            
        })
    })
    //on initial page load
    const initiallyChecked=document.querySelector('input[name=addressRadio]:checked')
    if(initiallyChecked){
        const initialValue=initiallyChecked.value
        if(initialValue=='new'){
            clearForm()
            addAddressBtn.removeAttribute('hidden')
        }else{
            const initialIndex=parseInt(initialValue)
            const initialAddress=addresses[initialIndex]
            populateForm(initialAddress)
            addAddressBtn.setAttribute('hidden',true)
        }
       }else if(addresses.length===0){
        clearForm()
       }

       //submit add addressForm
       const addressForm=document.getElementById('addressForm')
       addAddressBtn.addEventListener('click',async(e)=>{
        e.preventDefault()
        //validation
        let valid=true
        const name =nameField.value.trim()
        const street =streetField.value.trim()
        const city=cityField.value.trim()
        const state =stateField.value.trim()
        const pin=pinCode.value.trim()
        document.getElementById('nameError').textContent=''
        document.getElementById('streetError').textContent=''
        document.getElementById('cityError').textContent=''
        document.getElementById('stateError').textContent=''
        document.getElementById('pinError').textContent=''
        
        if(name==""||name==undefined){
            document.getElementById('nameError').textContent="*Enter a valid name"
            valid=false
        }
        if(street==""||street==undefined){
            document.getElementById('streetError').textContent="*Enter a valid street name"
            valid=false
        }
        if(city==""||city==undefined){
            document.getElementById('cityError').textContent="*Enter a valid city name"
            valid=false
        }
        if(state==""||state==undefined){
            document.getElementById('stateError').textContent="*Enter a valid state"
            valid=false
        }
        const numberRegex=/^\d+$/
        if(typeof(parseInt(pin))!="number"||pin.length!=6){
                document.getElementById('pinError').textContent="*Pin should have 6 digits & Must not contain alphabets"
            
            valid=false
        }
        const formData=new FormData(addressForm)
        
        const data=Object.fromEntries(formData.entries())
        console.log(data);
        const url=`/account/addresses`
        if(valid){
        const response =await fetch(url,{
            method:'POST',
            headers:{'Content-Type':'application/json'},
            body:JSON.stringify(data)
        }).then(async response=>{
            const result=await response.json()
            if(!response.ok){
                if(response.status==400){
                    const errorMessages=result.errors.map(err=>err.msg).join('\n*')
                    Swal.fire('Validation error!',errorMessages,'error')
                }else{
                    Swal.fire('Error!',result.message,'error')
                }
                Swal.fire('Error!','Server Error','error')
            }
            return result
        }).then(result=>{
            if(result.success){
            Swal.fire("Success!",result.message,'success').then(()=>{
                location.reload()
            })
            }else{
                Swal.fire("Error!",result.message,'error')
            }
        }).catch(err=>{
            Swal.fire("Error!",result.message,'error')
        })
        }
       })
       //changing button text on payment option
       const placeOrderBtn=document.getElementById('placeOrderButton')
       const paymentMessage=document.getElementById('payment-message')
       const paymentOptions=document.querySelectorAll('input[name="payment_option"]')
       paymentOptions.forEach(radio=>{
        radio.addEventListener('change',()=>{
            console.log("radio clicked: ",radio.value);
            
            if(radio.value==='Online'&&radio.checked){
                placeOrderBtn.textContent='Make Payment'
            }else if(radio.checked&&radio.value==='COD'){
                placeOrderBtn.textContent='Place Order'
            }
        })
       })
       //placing order
     
        placeOrderBtn.addEventListener('click',async function(e){
            e.preventDefault()
            const selectRadio=document.querySelector('input[name="addressRadio"]:checked')
            const paymentOption=document.querySelector('input[name="payment_option"]:checked')
        console.log("payment option selected: ",paymentOption.value);
        
        let selectedAddressId=null
        //make sure new address was added to the user addresses
        if(selectRadio.value==='new'||!selectRadio){
            Swal.fire("Error!","Please select an address or Add new address",'error')
            return
        }
        //storing selected addresses's index
        selectedAddressId=selectRadio.value
        console.log("selected Address index for placing order: ",selectedAddressId);
        const totalPrice='<%=totalPrice%>'
        placeOrderBtn.disabled=true
        placeOrderBtn.innerText='Processing...'
        //choosing between payments
        if(paymentOption.value=='Online'){
            initiateRazorpayPayment(selectedAddressId,totalPrice)
        }else if(paymentOption.value=='COD'){
            placeOrderCOD(selectedAddressId,totalPrice)
        }
        //function for Cash on Delivery mode
        async function placeOrderCOD(addressId,totalPrice) {
        await fetch('/shop/place-order',{
            method:'POST',
            headers:{'Content-Type':'application/json'},
            body:JSON.stringify({
                addressId:selectedAddressId,
                totalPrice:totalPrice,
            })
        }).then(res=>res.json())
        .then(data=>{
            if(data.success){
                Swal.fire('Success!',data.message,'success').then(()=>{
                    window.location.href=`/order-success?orderId=${data.orderId}`
                })
            }else{
                Swal.fire('Error!',data.message||'Could not place order','error').then(()=>{
                    window.location.href=`/order-failure`
                })
            }
        }).catch((err)=>{
            Swal.fire('Error!','Server error & Could not place order','error').then(()=>{
                    window.location.href=`/order-failure`
                })
            console.error("Error in placing order: ",err);
            
        })    
        }
        const razorpayKeyId='<%=razorpayKeyId%>'
        async function initiateRazorpayPayment(addressId,totalPrice) {
            try {
                const response=await fetch('/shop/create-razorpay-order',{
                    method:'POST',
                    headers:{'Content-Type':'application/json'},
                    body:JSON.stringify({totalPrice,addressId})
                })
                const orderData=await response.json()
                if(!orderData.success){
                    Swal.fire('Error!','Failed to create an order','error')
                }
                //options for the razorpay window
                const options={
                    "key":'<%=process.env.RAZORPAY_API_TEST_KEY_ID%>',
                    "currency":'INR',
                    "amount":totalPrice*100,
                    "name":"Ariane Motors",
                    "image":'https://placehold.co/300x300/6001ff/white?text=AM',
                    "description":"Order Payment",
                    "order_id":orderData.order.id,
                    "handler": function (response) {
                        verifyRazorpayPayment(response)
                    },
                    "prefill":{
                        "name":"<%=user.name%>",
                        "email":"<%=user.email%>",
                        "contact":"<%=user.phone%>"
                    },
                    "theme":{
                        "color":"#088178"
                    }
                }
                //open the razorpay window
                const rzp=new Razorpay(options)

                // Handle payment failure ie if user closes the payment window
                rzp.on('payment.failed',async function (response) {
                    await fetch('/shop/order-failed',{
                        method:'POST',
                        headers:{'Content-Type':'application/json'},
                        body:JSON.stringify({order_id:response.error.metadata.order_id})
                    }).then(res=>res.json()).then(result=>{
                        if(!result.success){
                            Swal.fire('Payment Failed!',result.message,'error')
                        }
                    })
                    Swal.fire('Payment Failed!','an error occured','error').then(()=>{
                    window.location.href=`/order-failure`
                })
                    paymentMessage.innerText = `Payment Failed: ${response.error.description}`;
                    paymentMessage.className = 'mt-4 text-center text-red-600';
                });

                rzp.open()

            } catch (error) {
                console.error('Razorpay error: ',error)
            }finally{
                placeOrderBtn.disabled=false
                placeOrderBtn.innerText='Make Payment'
            }
        }
        //verify the payment in the backend with the key and signature
        async function verifyRazorpayPayment(paymentResponse,addressId,totalPrice) {
            try{
            const response=await fetch('/shop/verify-razorpay-payment',{
                method:'POST',
                headers:{'Content-Type':'application/json'},
                body:JSON.stringify({
                    razorpay_order_id:paymentResponse.razorpay_order_id,
                    razorpay_payment_id:paymentResponse.razorpay_payment_id,
                    razorpay_signature:paymentResponse.razorpay_signature
                })
            })
            if(!response.ok){
                throw new Error("Fetch for verification failed");
                
            }
            const result=await response.json()
            // console.log("result of verification: ",result )
            if(result.success){
                Swal.fire('Payment Successful!',result.message,'success').then(()=>{
                    window.location.href=`/order-success?orderId=${result.orderId}`
                })
            }else{
                Swal.fire('Payment Failed!',result.message,'error')
            }
        }catch(err){
            console.error("error in razorpay payment verify: ",err);
            Swal.fire('Payment Failed!','Server Error','error')
        }
        }
        
       })
    })
</script>