<!-- views/user/shop.ejs -->

<%- include('../partials/user/header') %>

   <style>
    .active-category {
  font-weight: bold;
  color: #088178;
}

   </style>

        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <span>Shop</span>
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <h2 class="text-center my-4">Our Products</h2>
            <div class="container">
                <div class="row flex-row-reverse">
                    <div class="col-lg-9">
                        <div class="shop-product-fillter">
                            <div class="totall-product">
                                <p> We found <strong class="text-brand"><%= products.length %></strong> items for you!</p>
                            </div>
                            <div class="sort-by-product-area">
                                <!-- <div class="sort-by-cover mr-10">
                                    <div class="sort-by-product-wrap">
                                        <div class="sort-by">
                                            <span><i class="fi-rs-apps"></i>Show:</span>
                                        </div>
                                        <div class="sort-by-dropdown-wrap">
                                            <span> 50 <i class="fi-rs-angle-small-down"></i></span>
                                        </div>
                                    </div>
                                    <div class="sort-by-dropdown">
                                        <ul>
                                            <li><a class="active" href="#">50</a></li>
                                            <li><a href="#">100</a></li>
                                            <li><a href="#">150</a></li>
                                            <li><a href="#">200</a></li>
                                            <li><a href="#">All</a></li>
                                        </ul>
                                    </div>
                                </div> -->
                                <button type="button" class="btn btn-sm btn-default" id="clearfilterbtn" hidden>
                                <i class="fi-rs-cross mr-5"></i>Clear Filter
                            </button>
                                <div class="sort-by-cover">
                                    <div class="sort-by-product-wrap">
                                        <div class="sort-by">
                                            <span><i class="fi-rs-apps-sort"></i>Sort by:</span>
                                        </div>
                                        <div class="sort-by-dropdown-wrap">
                                            <span class="sort-title"> Featured <i class="fi-rs-angle-small-down"></i></span>
                                        </div>
                                    </div>
                                    <div class="sort-by-dropdown">
                                        <ul>
                                            <li><a class="sort-link" data-sort=""  href="#">Featured</a></li>
                                            <li><a href="#" class="sort-link" data-sort="asc">Price: Low to High</a></li>
                                            <li><a href="#" class="sort-link" data-sort="desc">Price: High to Low</a></li>
                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Product card-->
                        <div id="product-container">
                            <%- include('../partials/user/productView',{products:products}) %>
                     </div>
                    </div>
                    <div class="col-lg-3 primary-sidebar sticky-sidebar">
                        <div class="widget-category mb-30">
                            <h5 class="section-title style-1 mb-30 wow fadeIn animated">Category</h5>
                            <ul class="categories">
                              <% categoryList.forEach(category => {%>
                                <li><a href="/shop/products?category=<%= category._id %>&search=<%= search || "" %>&minPrice=<%= minPrice %>&maxPrice=<%= maxPrice %>&sort=<%= sort || "" %>"
                                    class="<%= categoryId == category._id.toString() ? 'active-category' : '' %>"><%= category.name %></a>
                                </li>
                                <% }) %>
                            </ul>
                        </div>
                        <!-- Fillter By Price -->
                        <div class="sidebar-widget price_range range mb-30">
                            <div class="widget-header position-relative mb-20 pb-10">
                                <h5 class="widget-title mb-10">Filter by price</h5>
                                <div class="bt-1 border-color-1"></div>
                            </div>
                            <form id="filterForm" method="get" action="/shop/products/">
                                <input type="hidden" name="search" value="<%= search || '' %>">
                                <input type="hidden" name="category" value="<%= categoryId || '' %>">
                                <input type="hidden" name="sort" value="<%= sort || '' %>">
                            <div class="label-input mb-2">
                                <label for="minPrice">Min Price:</label>
                                <input type="number" name="minPrice" id="minPrice" value="<%= minPrice || '' %>" />
                            </div>
                            <div class="label-input mb-3">
                                <label for="maxPrice">Max Price:</label>
                                <input type="number" name="maxPrice" id="maxPrice" value="<%= maxPrice || '' %>" />
                            </div>
                            <button type="submit" class="btn btn-sm btn-default w-100">
                                <i class="fi-rs-filter mr-5"></i> Filter
                            </button>
                        </form>

                        </div>
    
                    </div>
                </div>
            </div>
        </section>
    </main>
    
    <!--Preloader Start-->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%-include('../partials/user/footer')%>
    <!-- Vendor JS-->
    <script src="/frontend/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/frontend/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/frontend/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/frontend/assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/frontend/assets/js/plugins/slick.js"></script>
    <script src="/frontend/assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/frontend/assets/js/plugins/wow.js"></script>
    <script src="/frontend/assets/js/plugins/jquery-ui.js"></script>
    <script src="/frontend/assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="/frontend/assets/js/plugins/magnific-popup.js"></script>
    <script src="/frontend/assets/js/plugins/select2.min.js"></script>
    <script src="/frontend/assets/js/plugins/waypoints.js"></script>
    <script src="/frontend/assets/js/plugins/counterup.js"></script>
    <script src="/frontend/assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="/frontend/assets/js/plugins/images-loaded.js"></script>
    <script src="/frontend/assets/js/plugins/isotope.js"></script>
    <script src="/frontend/assets/js/plugins/scrollup.js"></script>
    <script src="/frontend/assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="/frontend/assets/js/plugins/jquery.theia.sticky.js"></script>
    
    <!-- Template  JS -->
    <script src="/frontend/assets/js/main.js?v=3.4"></script>
   
</body>

</html>


<!--shp sbove-->







<script>
    document.addEventListener('DOMContentLoaded',function(){
        const clearfilterbtn=document.getElementById('clearfilterbtn')
        const sortTitle=document.querySelector(".sort-title")
        const productContainer=document.getElementById('product-container')

        //fetching products
          async function fetchProducts(urlParams){
            const url=`/shop/products?${urlParams.toString()}`
            try {
                const response=await fetch(url,{
                    headers:{'X-Requested-With':'XMLHttpRequest'}
                })
                if(!response.ok)throw new Error('Network response was not ok')
                const html=await response.text()
            productContainer.innerHTML=html
            //update browser URL without reloading
            window.history.pushState({},'',url)
            //scroll to top smoothly
            productContainer.scrollIntoView({behavior:"smooth"})
            } catch (error) {
                console.error('Fetch error: ',error);
                                
            }
        }
        //sort filter
        document.querySelectorAll(".sort-link").forEach(link => {
        link.addEventListener('click',async (e) => {
            e.preventDefault()
            const sortValue=link.getAttribute('data-sort')
            let text='Featured'
            if(sortValue==='asc')text="Price: Low to High"
            else if(sortValue==='desc')text="Price: High to Low"

            sortTitle.innerHTML=`${text}<i class="fi-rs-angle-small-down"></i>`
            const urlParams=new URLSearchParams(window.location.search)
            urlParams.set('sort',sortValue)
            urlParams.set('page',1)

            await fetchProducts(urlParams)
        })        
        });
        //pagination logic
        if(productContainer){
            productContainer.addEventListener('click',async(e)=>{
                const link=e.target.closest('.page-link')
                if(!link)return
                e.preventDefault()
                const page=link.getAttribute('data-page')
                const urlParams=new URLSearchParams(window.location.search)
                urlParams.set('page',page)
                await fetchProducts(urlParams)
            })
        }
            
    //clear filter
    if(clearfilterbtn){
        clearfilterbtn.addEventListener('click',async function(e){
            e.preventDefault()
            const urlParams=new URLSearchParams(window.location.search)
            urlParams.delete('minPrice')
            urlParams.delete('maxPrice')
            urlParams.delete('page')
            urlParams.delete('category')
            urlParams.delete('sort')
           await fetchProducts(urlParams)
        })
    }

    
    
    

})
</script>