<%- include('../partials/user/header') %>
    
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <span></span>
                    <a href="/shop/products" rel="nofollow">Shop</a>
                    <span></span> Wishlist
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <% if(wishList.length<1||wishList==undefined){ %>
                                <div>
                                <p class="font-weight-bold d-flex justify-content-center" style="color: #088178;">No Items in wishlist.Please check the shop page</p>
                                <a class="d-flex justify-content-center" href="/shop/products"> <button class="btn btn-sm" >Back to shopping</button></a>
                                </div>
                                <% }else{%>
                            <table class="table shopping-summery text-center">
                                <thead>
                                    <tr class="main-heading">
                                        <th scope="col" colspan="2">Product</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Stock Status</th>
                                        <th scope="col">Action</th>
                                        <th scope="col">Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% wishList.forEach(item => {%>
                                    <tr>
                                        <td class="image product-thumbnail"><img src="<%=item.images[0]%>" alt="product_image"></td>
                                        <td class="product-des product-name">
                                            <h5 class="product-name"><a href="/product/<%=item._id%>"><%=item.name%></a></h5>
                                            <p class="font-xs"><%= item.productDescription.slice(0,80)%>...
                                            </p>
                                        </td>
                                        <td class="price" data-title="Price"><span>₹<%=item.price%>.00 </span></td>
                                        <td class="text-center" data-title="Stock">
                                            <% if(item.quantity<1||item.quantity==undefined) {%>
                                            <span class="color3 font-weight-bold" style="color: red;">Out of stock</span>
                                            <% }else if(item.quantity<=5){ %>
                                                <span class="color3 font-weight-bold" style="color: orange;">Only <%= item.quantity %> in stock</span>
                                                <% }else{ %>
                                                    <span class="color3 font-weight-bold" style="color: #088178;"> In stock</span>
                                                <%}  %>
                                        </td>
                                        <td class="text-right" data-title="Cart">
                                             <% if(item.quantity<1||item.quantity==undefined) {%>
                                           <a href="/shop"> <button class="btn btn-sm" >Back to shopping</button></a>
                                            <% }else{ %>
                                                <button class="btn btn-sm addtocartbtn" data-product-id="<%=item._id%>"><i class="fi-rs-shopping-bag mr-5"></i>Add to cart</button>
                                                <% } %>
                                        </td>
                                        <td class="action" data-title="Remove"><a href="#" class="removebtn" data-product-id="<%=item._id %>"><i class="fi-rs-trash"></i></a></td>
                                        
                                    </tr>
                                   <%  }); %>
                                </tbody>
                            </table>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/user/footer') %>


    <!-- Vendor JS-->
    <script src="/frontend/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/frontend/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/frontend/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/frontend/assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/frontend/assets/js/plugins/slick.js"></script>
    <script src="/frontend/assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/frontend/assets/js/plugins/wow.js"></script>
    <script src="/frontend/assets/js/plugins/jquery-ui.js"></script>
    <script src="/frontend/assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="/frontend/assets/js/plugins/magnific-popup.js"></script>
    <script src="/frontend/assets/js/plugins/select2.min.js"></script>
    <script src="/frontend/assets/js/plugins/waypoints.js"></script>
    <script src="/frontend/assets/js/plugins/counterup.js"></script>
    <script src="/frontend/assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="/frontend/assets/js/plugins/images-loaded.js"></script>
    <script src="/frontend/assets/js/plugins/isotope.js"></script>
    <script src="/frontend/assets/js/plugins/scrollup.js"></script>
    <script src="/frontend/assets/js/plugins/jquery.vticker-min.js"></script>
    <!-- Template  JS -->
    <script src="/frontend/assets/js/main.js?v=3.4"></script>
    <script src="/frontend/assets/js/shop.js?v=3.4"></script>
<script>
    document.addEventListener('DOMContentLoaded',function(){
        //deletefrom wishlist
        const removebtns=document.querySelectorAll('.removebtn')
        removebtns.forEach(btn => {
            btn.addEventListener('click',function(e){
                e.preventDefault()
                const productId=btn.dataset.productId
                fetch(`/shop/wishlist/delete/${productId}`,{
                    method:'DELETE',
                    headers:{'Content-Type':'application/json'}
                }).then(response=>response.json())
                .then(result=>{
                    if(result.success){
                        Swal.fire({
                            icon:"success",
                            text:result.message,
                            title:"Success"
                        }).then(()=>{
                            window.location.reload()
                        })
                    }else{
                        Swal.fire("Error",result.message,"error")
                    }
                })
                .catch(err=>{
                    Swal.fire("Error","Some issues","error")
                })
                
            })
        });
        //addtocart from wishlist
        const addtocartbtns=document.querySelectorAll('.addtocartbtn')
        addtocartbtns.forEach(btn=>{
            btn.addEventListener('click',function(e){
                e.preventDefault()
                const productId=btn.dataset.productId
                fetch('/shop/cart/add',{
                    method:'POST',
                    headers:{'Content-Type':'application/json'},
                    body:JSON.stringify({
                        productId:productId,
                        quantity:1
                    })
                }).then(response=>response.json())
                .then(result=>{
                    if(result.success){
                        Swal.fire({
                            icon:"success",
                            title:"Success",
                            text:result.message,
                            showCancelButton:true,
                            confrimButtonText:"Go to Cart"
                        }).then(done=>{
                            if(done.isConfirmed){
                                window.location.href='/cart'
                            }else if (done.isDismissed){
                                window.location.reload()
                            }
                        })
                    }else{
                        Swal.fire('Error',result.message,'error')
                    }
                })
            })
        })
    })
</script>
